body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: url("./Gradient.png");
}
ul{
  display: flex;
  gap: 34px;
  padding: 0;
}
li{
  list-style: none;
}

#Bg{
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100%;
  background: url("./Gradient.png");
}
a{
  text-decoration: none;
  color: #333333;
  border: solid 1px #333333;
  padding: 7px 34px;
  border-radius: 20px;
}
header{
  position: fixed;
  width: 100vw;
  padding: 10px 0px;

}

ul#menu{
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.Top{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

h2.en_header{
  font-family: "mina", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
  text-align: center;
  top: 50%;
  left: 50%;
  margin: 0 0;

}

.Toppage_parts_wrapper{
  height: 100vh;
}